# Ignore virtual environments
venv/
env/

# Ignore document files
documents/
/data/resumes/*

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp

# Ignore docs and PDFs
*.pdf
*.docx
*.doc

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore Streamlit cache
.streamlit/


PROJECT_FULL_DOC.md

# Evaluation scripts
model_evaluation.py
plots.py